body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


h1{
    font-size: 50px;
}

.name-highlight{
    color: orangered;
    font-size: 60px;
}

.highlight{
    color: orange;
}

.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

p{
    color: dimgray;
}
section{
    height: 500px;
    padding-bottom: 50px;
}

h2{
    font-size: 40px;
}

.top-banner{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
}

.dream{ 
    background-image: url("image/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}



.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-weight: 700;
}

.experience{
    background-image: url("image/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

.single-box{
    box-shadow: 10px 10px 30px gray;
    height: 70%;
    border-radius: 10px;
    background-color: white;
}

#boss{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, orangered, lightSalmon);
    border-image-slice: 1;
}

#not-boss{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}

.middle{
    text-align: center;
}